$main-font: "Montserrat", Arial, Helvetica, sans-serif

$main-color: #3aafa3
$main-gradient: linear-gradient(222.95deg, #3aafa3 3.21%, #3aafa3 51.4%, #3ddf7e 96.67%)

=animate
  transition: all .3s linear

body
  font: normal 400 16px/1.5 $main-font

a
  color: inherit

header,
aside,
nav,
footer,
section,
article,
div,
ul,
ol,
li,
form,
fieldset,
label,
input,
textarea,
legend,
table,
thead,
tbody,
th,
tr,
td
  box-sizing: border-box

@import typography

@import layout
